body,
html {
  height: 100%;  
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.bg {
  /* Location of the image */
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #FEC0CD;
  height: 100%;
  min-height: 100vh;
}


.img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  margin-bottom: 30px;
  width: 350px;
  max-width: 90%;
  height: auto;
}

#tap {
  display: inline-block;
}

.foto {
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  margin-top: 100px;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; */
  display: inline-block;
  /* vertical-align: middle;
  line-height: normal; */
}



/* Paper */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);


.paper {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 280px;
  height: auto;
  min-height: 400px;
  max-height: 80vh;
  margin: 20px auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 45px;
  background: radial-gradient(#616161 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 30px;
  left: 50px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}

.paper-content .teks {
  text-align: left;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 28px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #3f3f44;
  font-family: 'Handlee', cursive, 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 1;
}

.kotak {
  position: relative;
  width: 90%;
  max-width: 550px;
  min-width: 280px;
  max-height: 300px;
  min-height: 100px;
  top: 50px;
  margin: 20px auto;
  padding: 20px 0;
  display: inline-block;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.btn {
  border-radius: 40px;
}

#slideLima {
  position: relative;
  top: 50px;
  margin: 20px auto;
}

#trims {
  position: relative;
  top: 50px;
  display: inline-block;
  margin: 20px auto;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  position: relative;
  left: -20px;
  margin-top: 5px;
  padding: 5px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 20px;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  color: #333;
  position: relative;
  top: 250px;
  padding: 0;
  text-align: center;
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .img {
    width: 90%;
    max-width: 300px;
    top: 10px;
    margin-bottom: 20px;
  }
  
  .paper {
    width: 95%;
    min-width: 260px;
    min-height: 350px;
    margin: 15px auto;
  }
  
  .paper-content .teks {
    font-size: 14px;
    line-height: 24px;
  }
  
  .kotak {
    width: 95%;
    min-width: 260px;
    top: 30px;
    margin: 15px auto;
  }
  
  #slideLima, #trims {
    top: 30px;
    margin: 15px auto;
  }
  
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  #tap {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .img {
    width: 85%;
    max-width: 250px;
    top: 5px;
    margin-bottom: 15px;
  }
  
  .paper {
    width: 98%;
    min-width: 240px;
    min-height: 300px;
    margin: 10px auto;
  }
  
  .paper-content .teks {
    font-size: 13px;
    line-height: 22px;
    padding: 0 8px;
  }
  
  .kotak {
    width: 98%;
    min-width: 240px;
    top: 20px;
    margin: 10px auto;
    padding: 15px 0;
  }
  
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  
  #tap {
    font-size: 12px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h2 {
    font-size: 20px;
  }
}
